<html>
<body>
    <center>
    <h1> 로그인 되었습니다. </h1>
    <p>로그인 아이디 : <%= user_id %></p>
    <p>로그인 패스워드 : <%= user_pwd %></p>
    <a href="/movie">목록으로 가기</a>
    <a href="/logout">로그아웃</a>
    </center>
</body>
</html>   